.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}
.pointer {
  cursor: pointer;
}
.component {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.component {
  display: flex;
  flex-direction: row;
}
.component__flex {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.component__team {
  display: block;
}
.component__images {
  display: flex;
  justify-content: center;
}
.component__images__team {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 2em;
  min-width: 200px;
}
.component__description__text {
  font-size: 1.5rem;
  max-height: 30ex;
  overflow: hidden;
}
.component__rationale__text {
  min-width: 320px;
  padding: 5px;
}
.component__description__body {
  font-size: 1rem;
}
.component__description__toggle {
  font-weight: bold;
}
.component__member__name {
  margin-top: 0.7em;
}
.component__design__image {
  margin-top: 1em;
  margin-bottom: 3em;
}

@media only screen and (max-width: 745px) {
  .component__images {
    flex-direction: column;
  }
}

@media only screen and (min-width: 425px) {
  .component__rationale__text {
    max-width: 660px;
  }
}
