.image__design {
  max-width: 400px;
  width: 100%;
}
.image__team {
  max-width: 200px;
  /* max-height: 220px; */
  width: 50%;
  margin-top: 25px;
  padding-right: 10px;
}
.image__team img {
  width: 100%;
}